#main {
    margin-top: -15px;
    height: calc(100% + 15px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./../../../assets/imgs/cesmac2.png') 100% / cover;
    background-color: #c5d6e7;
}

#bot {
    margin-top: 10px;
    ion-img { height: 100px;}
}

#msgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: calc(100% - 210px);
}

#panico {
    position: absolute;
    right: 10px;
}

.robo-msg {
    // background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background: rgb(0, 105, 173);
    border-radius: 20px;
    padding: 5px 10px;
    text-align: justify;
    margin-top: 5px;
    p { margin: 0px; font-size:14px; color: #f8c400;}
}

.voce-msg {
    background: #32b2e3;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: justify;
    margin-top: 5px;
    p { margin: 0px;font-size:14px; color: white;}
}


#input-texto {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    overflow: hidden;
}

#input-opcoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    justify-content: space-evenly;
    padding: 10px;
}