#main {
    margin-top: -15px;
    height: calc(100% + 15px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

#bot {
    margin-top: 10px;
    ion-img { height: 100px;}
}

#msgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: calc(100% - 210px);
}

.robo-msg {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-radius: 20px;
    padding: 5px 10px;
    text-align: justify;
    margin-top: 5px;
    p { margin: 0px; font-size:14px}
}

.voce-msg {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: justify;
    margin-top: 5px;
    p { margin: 0px;font-size:14px}
}


#input-texto {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    overflow: hidden;
}

#input-opcoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    justify-content: space-evenly;
    padding: 10px;
}